#ice-climbers {
	width: 100%;
	height: 50%;
}

#pineapple-man {
	width: 70%;
	height: 70%;
}

#pineapple-man2 {
	width: 35%;
	height: 50%;
}

#sir-pine {
	width: 35%;
	height: 35%;
}

#four-armed-test,
#four-armed-test2 {
	width: 40%;
	height: 35%;
}

#sea-creature,
#sea-creature-initial {
	width: 50%;
	height: 35%;
}
