#head-nav {
	border-style: solid;
	border-color: #fff;
	border-width: 1px;
}

#head-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	width: 100%;
}

#head-nav li:not(.right) {
	float: left;
	border-right: 1px solid #bbb;
}

#head-nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#head-nav li a:hover:not(.active) {
	background-color: #111;
}

#head-nav .active {
	background-color: #4caf50;
}

.right {
	float: right;
}
